<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/shared/layout :: layout(~{::title}, ~{::content})}">
<head>
    <title>Đặt Lại Mật Khẩu</title>
</head>
<body>
<content>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm p-4 border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Đặt Lại Mật Khẩu Mới</h4>

                        <!-- Thông báo lỗi -->
                        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                        <form th:action="@{/dat-lai-mat-khau}" method="post" class="mt-4">
                            <input type="hidden" name="token" th:value="${token}">
                            <div class="mb-3">
                                <label for="password" class="form-label">Mật khẩu mới</label>
                                <input type="password" id="password" name="password" class="form-control" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100 mt-3">Lưu Mật Khẩu Mới</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
</body>
</html>